*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #333;
}

#center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

img{
    height: 250px;
}
